html {
    font-size: 14px;
}

* {
    color: var(--whitetext);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --background: #09243f;
    --background-dark: #171717;
    --whitetext: #ffffff;
    --blueaccent: #06c1fa;
    --purpleaccent: #9f06fa;
    --magentaaccent: #e706fa;
    --goldaccent: #ffa405;
    --background-purple: #311435;
    
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-image: linear-gradient(var(--background),var(--background-purple) 95%);
}

.navbar {
    display: flex;
}

    .navbar:nth-of-type(2) {
        border-bottom: solid 5px var(--magentaaccent);
    }

.navbar-list {
    display: flex;
    list-style-type: none;
    padding-block: 0;
}

    .navbar-list a {
        padding-inline: 15px;
        padding-block: 10px;
    }

        .navbar-list a:hover {
            color: var(--blueaccent);
            text-shadow: 1px 1px var(--magentaaccent);
        }

.headerlink {
    color: var(--whitetext);
    text-decoration: none;
}

.titlelink {
    font-size: 2.5em;
    font-weight: bold;
    padding-inline-start: 25px;
}

    .titlelink:hover {
        color: var(--whitetext);
    }

body {
    background-image: linear-gradient(30deg, #10202F 12%, transparent 12.5%, transparent 87%, #10202F 87.5%, #10202F), linear-gradient(150deg, #10202F 12%, transparent 12.5%, transparent 87%, #10202F 87.5%, #10202F), linear-gradient(30deg, #10202F 12%, transparent 12.5%, transparent 87%, #10202F 87.5%, #10202F), linear-gradient(150deg, #10202F 12%, transparent 12.5%, transparent 87%, #10202F 87.5%, #10202F), linear-gradient(60deg, #10202F80 25%, transparent 25.5%, transparent 75%, #10202F80 75%, #10202F80), linear-gradient(60deg, #10202F80 25%, transparent 25.5%, transparent 75%, #10202F80 75%, #10202F80);
    background-size: 100px 175px;
    background-position: 0 0, 0 0, 50px 87.5px, 50px 87.5px, 0 0, 50px 87.5px;
    background-color: #171717;
}

.splashdiv {
    margin-block: 2%;
    margin-inline: 15%;
    padding: 20px;
    text-align: center;
    background-color: var(--background);
    box-shadow: 10px 10px var(--blueaccent);
}

    .splashdiv h1 {
        font-weight: bold;
    }

.subpage-title {
   text-align:center;
   border-bottom:2px solid var(--blueaccent);
}

.linkdiv {
    justify-content: center;
    display: flex;
    padding-block: 10px;
}

    .linkdiv a {
        padding-inline: 20px;
        color: var(--whitetext);
        text-decoration: none;
    }

        .linkdiv a:nth-child(1) {
            background-color: var(--background-purple);
            border: 2px solid var(--magentaaccent);
        }

        .linkdiv a:nth-child(2) {
            text-decoration: underline;
        }

.tablediv {
    padding: 20px;
    width: fit-content;
    margin: auto;
    text-align: center;
    background-color: var(--background);
    border: 4px solid var(--blueaccent);
    box-shadow: 5px 5px var(--magentaaccent);
}

.storetable th {
    font-size: 1.2em;
    padding: 5px;
    padding-inline: 15px;
    text-shadow: 2px 2px var(--purpleaccent);
}

.itemname {
    font-weight: bold;
}

.storetableheader:nth-child(2) {
    border-inline: 2px solid var(--blueaccent);
}

.storetable tr {
    border-bottom: 2px solid var(--blueaccent);
    padding-inline: 15px;
}

.storetable td {
    padding: 15px;
}

    .storetable td a {
        color: var(--magentaaccent);
        text-decoration: none;
        padding-inline: 5px;
    }

        .storetable td a:hover {
            color: var(--magentaaccent);
            text-decoration: underline;
            text-shadow: 1px 1px var(--purpleaccent), 2px 2px var(--purpleaccent);
        }

footer {
    position: fixed;
    bottom: 0;
    padding-block: 10px;
}

    footer div a {
        color: var(--blueaccent);
    }
