html {
    font-size: 14px;
}

* {
    color: var(--whitetext);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --background: #09243f;
    --background-dark: #171717;
    --whitetext: #ffffff;
    --blueaccent: #06c1fa;
    --purpleaccent: #9f06fa;
    --magentaaccent: #e706fa;
    --goldaccent:#ffa405;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
header {
    background-image: linear-gradient(var(--background),var(--background-dark) 95%);
}
.navbar {
    display: flex;
    
}
    .navbar:nth-of-type(2) {
        border-bottom: solid 5px var(--magentaaccent);
    }

.navbar-list {
    display: flex;
    list-style-type: none;
    padding-block:0;
}

    .navbar-list a {
        padding-inline: 15px;
        padding-block:10px;
    }

        .navbar-list a:hover {
            color: var(--blueaccent);
            text-shadow:1px 1px var(--magentaaccent);
        }

.headerlink {
    color: var(--whitetext);
    text-decoration: none;
}

.titlelink {
    font-size: 2.5em;
    font-weight:bold;
    padding-inline-start: 25px;
}
.titlelink:hover {
    color: var(--whitetext);
}

body {
    margin-bottom: 60px;
    background-color: var(--background-dark);
}
.splashdiv{
    margin-block:2%;
    margin-inline:15%;
    padding:20px;
    text-align:center;
    background-color:var(--background);
    box-shadow:10px 10px var(--blueaccent);
}
.splashdiv h1{
    font-weight:bold;
}

footer {
    position: fixed;
    bottom: 0;
    padding-block: 10px;
}
footer a {
    color:var(--blueaccent);
}
